.imageLogin {
	background: url("../img/BSI_logo_400x400.jpg");
	background-position: center;
	background-size: cover;
}

.bg-gradient-bsi {
	background-color: #007873;
	background-image: linear-gradient(180deg, #007873 10%, #41a8a5 100%);
	background-size: cover;
}

/* .bg-gradient-bsi-login {
	background-color: #8e9c8e;
	background-image: linear-gradient(180deg, #8e9c8e 10%, #d3e4cd 100%);
	background-size: cover;
} */

.bg-gradient-bsi-login {
	background-image: repeating-radial-gradient(
		#0d1e20,
		#0d1e20 20px,
		#0e2e31 20px,
		#0e2e31 40px,
		#203e3d 40px,
		#203e3d 60px
	);
	background-size: 100px 100px;
}

/* Konfigurasi Tabel */
.col-no {
	width: 5%;
}

.col-tglPrlh,
.col-hrgPrlh {
	width: 12%;
}

.col-usiaTeknis {
	width: 8%;
}

.col-aksi {
	width: 15%;
}

.col-dk {
	width: 4%;
}

.col-tglMutasi {
	width: 10%;
}

.col-kodeBrg {
	width: 12%;
}

/* table {
	width: 50%;
	border-spacing: 0px;
} */

/* .class-aksi {
	justify-content: center;
	align-items: stretch;
}

.class-aksi a {
	margin: 2px;
} */

/* BELAJAR GRID */
/* .tes-container {
	width: 60%;
	margin: 50px auto;
	display: grid;
	grid-template-columns: 100px 25% 200px;
	grid-template-rows: 100px;
}

.tes-item {
	background-color: rgb(138, 209, 254);
	display: flex;
	justify-content: center;
	align-items: center;
}

.tes-item:nth-child(even) {
	background-color: rgb(255, 142, 142);
} */
