.imageLogin {
	background: url("../img/BSI_logo_400x400.jpg");
	background-position: center;
	background-size: cover;
}

.bg-gradient-bsi {
	background-color: #007873;
	background-image: linear-gradient(180deg, #007873 10%, #41a8a5 100%);
	background-size: cover;
}

/* .bg-gradient-bsi-login {
	background-color: #8e9c8e;
	background-image: linear-gradient(180deg, #8e9c8e 10%, #d3e4cd 100%);
	background-size: cover;
} */

.bg-gradient-bsi-login {
	background-image: repeating-radial-gradient(
		#0d1e20,
		#0d1e20 20px,
		#0e2e31 20px,
		#0e2e31 40px,
		#203e3d 40px,
		#203e3d 60px
	);
	background-size: 100px 100px;
}

/* Profile Card Layout for USER */
.usr-card {
	display: grid;
	grid-template-rows: 2rem 3rem 3rem 3rem 3rem 3rem 1fr;
	grid-template-columns: 1fr;
}

.usr-banner {
	grid-row: 1 / 5; /*<default>First line to third line*/
	grid-column: 1 / -1; /*<default>First line to last line*/
}

.usr-banner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.usr-display-picture {
	grid-row: 3 / 6;
	grid-column: 1 / -1;
	padding: 0 24px;
	z-index: 1; /*<default>To place this on top of the banner*/
}

.usr-display-picture img {
	height: 100%;
	aspect-ratio: 1 / 1; /*<default>So that width = height*/
	border-radius: 50%; /*<default>To create a circle*/
}

.usr-content {
	grid-row: 6 / 8;
	grid-column: 1 / -1;
	padding: 20px 40px 24px 40px; /*top, right, bottom, left*/
}

/* .shimer-btn {
	background-color: hotpink;
	background-image: linear-gradient(
		-60deg,
		transparent,
		transparent 40%,
		#ffffff44 40%,
		#ffffff44 60%,
		transparent 60%,
		transparent 100%
	);
	background-size: 200% 100%;
	background-repeat: no-repeat;
	background-position-x: 150%;
}

.shimer-btn:hover {
	background-position-x: -150x;
	transition: background-position-x 600ms;
} */

/* .bord {
	border: solid 4px;
	border-image-source: linear-gradient(to bottom right, hotpink, rebeccapurple);
	border-image-slice: 4;
	border-radius: 100px;
} */

/* Konfigurasi Tabel */
.col-no {
	width: 5%;
}

.col-tglPrlh,
.col-hrgPrlh {
	width: 13%;
}

.col-usiaTeknis {
	width: 8%;
}

.col-aksi {
	width: 21%;
}

.col-dk {
	width: 4%;
}

.col-tglInput {
	width: 13%;
}

.col-tglMutasi {
	width: 11%;
}

.col-kodeBrg {
	width: 14%;
}

.col-stok {
	width: 10%;
}

.td-stok {
	text-align: right;
}

.td-aksi {
	text-align: center;
}

.td-dk {
	text-align: center;
}

/* table {
	width: 50%;
	border-spacing: 0px;
} */

/* .class-aksi {
	justify-content: center;
	align-items: stretch;
}

.class-aksi a {
	margin: 2px;
} */

/* BELAJAR GRID */
/* .tes-container {
	width: 60%;
	margin: 50px auto;
	display: grid;
	grid-template-columns: 100px 25% 200px;
	grid-template-rows: 100px;
}

.tes-item {
	background-color: rgb(138, 209, 254);
	display: flex;
	justify-content: center;
	align-items: center;
}

.tes-item:nth-child(even) {
	background-color: rgb(255, 142, 142);
} */
